.site-wrap {
  /* Critical position and size styles */
  display: block;

  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  // bottom: 100%;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding: 4em;
  transition: left 0.5s;

  p {
    margin: 0 0 1rem 0;
  }

  &.navActive {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  }
}

main {
  text-align: center;
  margin: 0 auto;
}

#results {
  // background-color: green;
  width: 75vw;
  height: auto;
  display: inline-block;
  // background-color: black;
  margin: 0 auto;
  text-align: center;

  // &:after {
  //   display:inline-block;
  //   width:100%;
  //   content:'';
  // }
}
