// just for testing
body {
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.nav-toggle-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.book-preview{
  h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  h5{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
  }
  p{
    font-family: 'PT Serif', serif;
    font-size: .8rem;
  }
}
