// just for testing
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1.5px;
}

a {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

p {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1.5px;
}

.nav-toggle-button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
}

.book-preview {
  h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
  }

  h5 {
    font-family: 'PT Serif', serif;
    font-size: 1.1em;
    font-weight: 700;
  }

  p {
    font-size: .8em;
  }
}
