// just for testing
a {
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
