/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1.5px; }

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.75em; }

p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1.5px; }

.nav-toggle-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em; }

.book-preview h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase; }
.book-preview h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.1em;
  font-weight: 700; }
.book-preview p {
  font-family: 'PT Serif', serif;
  font-size: .8em; }

.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  background: #111; }

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000; }
  .nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    background: linear-gradient(135deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s, background 0.5s; }
    .nav-item a:hover {
      color: #c74438; }

.site-wrap {
  /* Critical position and size styles */
  display: inline-block;
  min-height: 100vh;
  min-width: 100%;
  background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* non-critical apperance styles */
  padding-top: 4em;
  transition: left 0.5s; }
  .site-wrap p {
    margin: 0 0 1rem 0; }
  .site-wrap.navActive {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); }

main {
  text-align: center;
  margin: 0 auto; }

#results {
  width: 75vw;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center; }

.nav-toggle-button {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  height: auto;
  width: auto;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 5px 5px 5px 5px;
  background-size: contain;
  transition: left 0.5s; }
  .nav-toggle-button.navActive {
    left: 215px;
    color: #c74438; }

.submit-button {
  width: 200px;
  height: 50px;
  background: white;
  border: 3px solid black;
  padding: 0px;
  font-size: 1rem;
  margin-top: 25px; }

form {
  width: 75%;
  margin: 0 auto; }
  form h1 {
    font-size: 4rem;
    margin-bottom: 50px; }
  form p {
    font-size: 2rem; }
  form input {
    outline: 0;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
    width: 200px;
    text-align: center; }

.book-preview {
  display: inline-block;
  box-shadow: 1px 3px 5px #e6e6e6;
  overflow: hidden;
  background: #fff;
  width: 200px;
  position: relative;
  margin: 10px 5px;
  border: 10px solid white;
  box-sizing: content-box;
  text-align: center; }
  .book-preview:hover img {
    transform: scale(5);
    transition: 1s; }
  .book-preview:hover .mask {
    opacity: 1;
    transition: 1s; }
  .book-preview img {
    width: 200px;
    height: 300px; }
  .book-preview .mask {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: .5rem 0; }
    .book-preview .mask .title {
      width: 100%;
      text-align: center; }
    .book-preview .mask .author {
      width: 75%;
      margin: 0 auto;
      border-bottom: 1px solid black;
      padding: .25rem 0; }
    .book-preview .mask .description {
      text-align: left;
      text-indent: 20px;
      text-align: justify;
      width: 80%;
      margin: 0 auto;
      padding: .25rem 0; }
    .book-preview .mask a {
      width: 50%;
      height: 25px;
      text-decoration: none;
      color: white;
      background: blue; }

.book-detail-backdrop {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10; }
  .book-detail-backdrop .book-details {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    background-color: white;
    height: 90%;
    width: 50%;
    margin: 0 auto;
    opacity: 1;
    z-index: 20;
    overflow: scroll; }

/*# sourceMappingURL=style.css.map */
