.detail{
  margin:20px;
  img{
    float: left;
    margin:10px;
    max-height: 150px;
  }
  h3{
    clear: left;
    font-size: 3rem;
    border-bottom: 1px solid black;
    padding: 10px;
  }
  p{
    text-align: left;
    margin: 10px 0 10px 150px;
  }
  .description-detail{
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    margin: 10px;
  }
  .rec-header{
    width: 100%;
    background: red;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding:10px;
  }
}
.rec{
  clear:left;
  margin: 2em;
  border-bottom: 1px solid black;
  h3{
    font-size: 1rem;
    margin: 20px;
    a{
      text-decoration: none;
      color:black;
    }
  }
  img{
    float: left;
    margin-bottom: 20px;
    max-height: 110px;

  }
  h6{
    text-align: center;
  }
  h4{
    margin: 20px;
    font-size: 4rem;
  }
}
